.vercel
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development


# Debug scripts
scripts/check_dummy.js
scripts/verify_api.js
scripts/check_dummy_emails.js
scripts/mimic_server.js
scripts/inspect_db.js
scripts/inspect_db_v2.js
